<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
          <a href="#" class="list-group-item header active">
            Categories
          </a>
          <a href="#" class="list-group-item">Consumer Electronics</a>
          <a href="#" class="list-group-item">Home &amp; Garden</a>
          <a href="#" class="list-group-item">Machinery</a>
          <a href="#" class="list-group-item">Automobiles &amp; Motorcycles</a>
          <a href="#" class="list-group-item">Packaging &amp; Printing</a>
          <a href="#" class="list-group-item">Beauty &amp; Personal Care</a>
          <a href="#" class="list-group-item">Apparel</a>
          <a href="#" class="list-group-item">Sports &amp; Entertainment</a>
          <a href="#" class="list-group-item">Helping Hand</a>
          <a href="#" class="list-group-item">Medicals</a>
      </div>
      <!-- <div class="row">
          <div class="col-md-6">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <a href="#"><img src="../../assets/images/offer1.jpg" class="img-responsive"></a>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <a href="#"><img src="../../assets/images/offer2.png" class="img-responsive"></a>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <img src="../../assets/images/testimonial1.jpg" alt="..." class="img-responsive">
                  </div>
              </div>
          </div>
      </div>
      <a href="#"><img src="../../assets/images/marketing.jpg" class="img-responsive singlesdv"></a>
    </div>  
    <div class="col-md-7">
      <app-carousel></app-carousel>
      <app-image-slider></app-image-slider>
    </div>
    <div class="col-md-2">
        <a href="#" class="list-group-item header toppicks ">Our Top Picks</a>
      <app-vertical-slider></app-vertical-slider>
      <div class="panel panel-default smalladv">
          <div class="panel-body">
              <img src="../../assets/images/offer2.png" alt="..." class="img-responsive">
          </div>
      </div>
      
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-body">
          <a href="#"><img src="../../assets/images/longbanner1.jpg" class="img-responsive"></a>
      </div>
  </div>
  <img src="../../assets/images/banner.jpg" alt="..." class="img-responsive middle-banner">
  <app-itemlist></app-itemlist>
  <div class="panel panel-default">
      <div class="panel-body">
          <a href="#"><img src="../../assets/images/longbanner2.jpg" class="img-responsive"></a>
      </div>
  </div>
  <hr/>
  <app-fav-brands></app-fav-brands>
  <hr/>
  <app-category-tabs></app-category-tabs>
  <app-big-sales-tabs></app-big-sales-tabs>
  <app-applicant-colousel></app-applicant-colousel>
</div>

<app-footer></app-footer>