<!-- category nav -->
<div class="category-nav">
  <span class="category-header"> </span>
  <!-- <ul class="category-list">
    <li class="dropdown side-dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"  [routerLink]="['/searchproduct/powertools']">Power Tools</a>
    </li>
    <li>
      <a href="#">Hand Tools</a>
    </li>
    <li class="dropdown side-dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Hand Tools</a>
    </li>
    <li><a href="#">Air Tools</a></li>
    <li><a href="#">Storage Tools</a></li>
    <li class="dropdown side-dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Ladders</a>
    </li>
    <li><a href="#">Measuring Tools</a></li>
    <li><a href="#">Garage Tools</a></li>
  </ul> -->
</div>
<!-- /category nav -->