
<a href="#" class="list-group-item header toppicks ">Featured</a>
<div class="row featured">   
    <div id="">
      <div class="carousel slider slide itemCarouselfirst" id="myCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor1.jpeg" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor2.jpeg" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor3.jpeg" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor4.jpeg" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor5.jpeg" class="img-responsive"></a></div>
            </div>
            <div class="item">
              <div class="col-md-3"><a href="#"><img src="../../assets/images/cor6.jpeg" class="img-responsive"></a></div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
    </div>
</div>
<a href="#" class="list-group-item header toppicks ">Sale</a>
<div class="row">
    <div class="carousel slider slide" id="myCarousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor1.jpeg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor2.jpeg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor3.jpeg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor4.jpeg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor5.jpeg" class="img-responsive"></a></div>
          </div>
          <div class="item">
            <div class="col-md-3"><a href="#"><img src="../../assets/images/cor6.jpeg" class="img-responsive"></a></div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
</div>
