<!-- BREADCRUMB -->
<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Product</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form id="product-form" class="clearfix" [formGroup]="productFormGroup">
					<div class="col-md-8">
						<div class="billing-details">
							<!-- <p>Already a customer ? <a href="#">Login</a></p> -->
							<div class="section-title">
								<h3 class="title">Upload a Product</h3>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="productId" placeholder="Product Id" formControlName="productId" disabled>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="productCompany" placeholder="Product Company" formControlName="productCompany">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="productName" placeholder="Product Name" formControlName="productName">
							</div>
							<div class="form-group">
								<input class="input" type="text" name="productOwnerId" placeholder="Owner Id" formControlName="productOwnerId" disabled>
							</div>
							<div class="form-group">
								<input class="input" type="text" name="productListId" placeholder="List Id" formControlName="productListId">
							</div>
							<div class="form-group">
								<select class="input" name="productStatus" placeholder="Product Status" formControlName="productStatus"  (change)="changeStatus()">
									<option value="">Choose Status</option>
									<option value="old">Old</option>
									<option value="new">New</option>
							  	</select>
							</div>
							<ng-container *ngIf = "productCondition == 'old'">
								<div class="form-group">
									<select class="input" name="productCondition" placeholder="Product Condition" formControlName="productCondition" >
										<option disabled selected>Select Condition</option>
										<option value="RUWC">Rarely Used & Working condition</option>
										<option value="FUWC">Fairly Used & Working condition</option>
									</select>
								</div>
								<div class="form-group">
									<input class="input" type="text" name="purchaseYear" placeholder="Purchase Year" formControlName="purchaseYear">
								</div>
							</ng-container>
							<div class="form-group">
								<input class="input" type="text" name="productQuantity" placeholder="Quantity" formControlName="productQuantity">
							</div>
							<ng-container *ngIf = "productCondition == 'old'">
								<div formGroupName="specs">
									<div class="form-group">
										<input class="input" type="text" name="manfactureYear" placeholder="Manufacture Year" formControlName="manfactureYear">
									</div>
								</div>
							</ng-container>
							<div formGroupName="specs">
								<div class="form-group">
									<input class="input" type="number" step="any" name="productWeight" placeholder="Approximate Weight" formControlName="productWeight">
								</div>
							</div>
							<div formGroupName="specs">
								<div class="form-group">
									<input class="input" type="number" step="any" name="productOldPrice" placeholder="Old Price" formControlName="productOldPrice">
								</div>
							</div>
							<div formGroupName="specs">
								<div class="form-group">
									<input class="input" type="number" step="any" name="productPrice" placeholder="Price" formControlName="productPrice">
								</div>
							</div>
							<div formGroupName="specs">
								<div class="form-group">
									<textarea class="input" type="text" name="productDesc" placeholder="Description" formControlName="productDesc"> </textarea>
								</div>
							</div>
							</div>
							<div class="form-group">
                  				<button type="button" class="btn btn-primary"  (click)="saveProduct()">Save Product</button>
								<!-- <div class="input-checkbox">
									<input type="checkbox" id="register">
									<label class="font-weak" for="register">Create Account?</label>
									<div class="caption">
										<p>Please check the cost details before payments-2.
											<p>
												<input class="input" type="password" name="password" placeholder="Enter Your Password">
									</div>
								</div> -->
							</div>
						</div>
						<div class="col-md-4">
							<label class="btn btn-default">
								<input type="file" (change)="selectFile($event)" multiple/>
							</label>
							<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
							<ng-container *ngIf="images && images.length >0">
								<div class="col-md-3 banner_image" *ngFor="let image of images;">
									<img src="{{image}}" />
								</div>
							</ng-container>
						</div>
				</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->