.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: FontAwesome;
    content: "\f0a9"; /* "play" icon */
    src: url('../../assets/images/tooltip/glyphicons-halflings-regular.eot');
    src: url('../../assets/images/tooltip/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../assets/images/tooltip/glyphicons-halflings-regular.woff') format('woff'), url('../../assets/images/tooltip/glyphicons-halflings-regular.ttf') format('truetype'), url('../../assets/images/tooltip/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.learn_more_header{
    margin-top: 20px;
}