<div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs cagtegoryitemlist" role="tablist">
            <li role="presentation" class="active"><a href="#newarrival" aria-controls="newarrival" role="tab" data-toggle="tab"><h4>NEW ARRIVALS</h4></a></li>
            <li role="presentation"><a href="#specials" aria-controls="specials" role="tab" data-toggle="tab"><h4>SPECIALS</h4></a></li>
            <li role="presentation"><a href="#bestsellers" aria-controls="bestsellers" role="tab" data-toggle="tab"><h4>BEST SELLERS</h4></a></li>
            <li role="presentation"><a href="#mostviewed" aria-controls="mostviewed" role="tab" data-toggle="tab"><h4>MOST VIEWED</h4></a></li>
            <li role="presentation"><a href="#featuredproducts" aria-controls="featuredproducts" role="tab" data-toggle="tab"><h4>FEATURED PRODUCTS</h4></a></li>
            <li role="presentation"><a href="#sale" aria-controls="sale" role="tab" data-toggle="tab"><h4>SALE</h4></a></li>
            <li role="presentation"><a href="#rent" aria-controls="rent" role="tab" data-toggle="tab"><h4>RENT</h4></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="newarrival">
                <div class="row">
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">                              
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                              <button class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target=".itemDescModal"></button>
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                            <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                            <i class="fa fa-eye" aria-hidden="true" (click)="openModal()"></i>
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                              <i class="fa fa-eye" aria-hidden="true" data-toggle="modal" data-target=".itemDescModal"></i>
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                              <i class="fa fa-eye" aria-hidden="true"></i>
                          </div>
                      </div>
                    </div>      
                  </div>
                  <div id="moreButton">
                      <button type="button" class="btn btn-primary btn-lg allbuttton" >SEE ALL</button>
                  </div>
                </div>
              <div role="tabpanel" class="tab-pane" id="specials">
                <div class="row">
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                              <i class="fa fa-eye" aria-hidden="true"></i>
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                              <i class="fa fa-eye" aria-hidden="true"></i>
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>      
                  </div>
                  <div id="moreButton">
                      <button type="button"  class="btn btn-primary btn-lg allbuttton">SEE ALL</button>
                  </div>
                </div>
            <div role="tabpanel" class="tab-pane" id="bestsellers">
                <div class="row">
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>
                    <div class=col-md-3 brand-img>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <img src="//cdn.shopify.com/s/files/1/0019/9707/8579/files/border_logo_img-01_246x.png?v=1523833611" />
                          </div>
                      </div>
                    </div>      
                  </div>
                  <div id="moreButton">
                      <button type="button" class="btn btn-primary btn-lg allbuttton" data-toggle="modal" data-target=".itemDescModal">SEE ALL</button>
                  </div>
              </div>
            <div role="tabpanel" class="tab-pane" id="mostviewed">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..
            </div>
            <div role="tabpanel" class="tab-pane" id="featuredproducts">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..
            </div>
            <div role="tabpanel" class="tab-pane" id="sale">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..
            </div>
            <div role="tabpanel" class="tab-pane" id="rent">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passage..
            </div>
        </div>
  </div>
</div>
<div class="modal fade itemDescModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Item Description</h4>
        </div>
        <div class="modal-body">
          <p>Item image and details&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Add to Wishlist</button>
          <button type="button" class="btn btn-primary">Buy Now</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  