<div class="container">
  <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-body service_header">
                    <h3>BANNER</h3>
                    <h4>Add and Delete Banners.</h4>
                    <h5><a href="javascript:void(0)" (click)="updatepanel('banner')">OPEN</a></h5>
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default ">
                <div class="panel-body service_header">
                      <h3>PROMOTIONS</h3>
                      <h4>Add and Delete Promotions.</h4>
                      <h5><a href="javascript:void(0)" (click)="updatepanel('promotion')">OPEN</a></h5>
                </div>
              </div>
          </div>
          <div class="col-md-4">
                <div class="panel panel-default service_header">
                    <div class="panel-body">
                        <h3>COROUSELS</h3>
                        <h4>Add and Delete Corousels.</h4>
                        <h5><a href="javascript:void(0)" (click)="updatepanel('corousel')">OPEN</a></h5>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <ng-container *ngIf="successStatus == true">
                Saved Successfully
            </ng-container> 
           
            <div class="configStyle" *ngIf="activepanel=='banner'"> 
                <div class="row">  
                    <div class="col-md-3">
                        <h4>Banners</h4>
                    </div>
                    <div class="col-md-9 file-upload">
                        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openModal()">
                            Add New Banner
                        </button>
                    </div>     
                </div>
                <div class="row">                   
                    <ng-container *ngIf="bannerImages">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of bannerImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('banner', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL,'', image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="bannerImages.length == 0">
                        <label>No banners present. Please upload banners.</label>
                    </ng-container>
                </div>
            </div>
  
            <div class="configStyle"  *ngIf="activepanel=='promotion'">
                <!-- <div class="row"> 
                    <label class="btn btn-default">
                        <input type="file" (change)="selectFile($event)" multiple />
                    </label>
                    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload('promotion')">Upload</button>
                </div> -->
                <div class="row">    
                    <div class="col-md-3">
                        <h4>Promotions</h4>
                    </div>
                    <div class="col-md-9 file-upload">
                        <button type="button" type="button" class="btn btn-primary"  (click)="openModal()">
                            Add New Promotion
                        </button>
                    </div>   
                </div>
                <div class="row">                   
                    <ng-container *ngIf="promotionImages">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of promotionImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('promotion', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL,'',image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="promotionImages.length == 0">
                        <label>No promotion present.Please upload promotions.</label>
                    </ng-container>
                </div>      
            </div>
            <div class="configStyle"  *ngIf="activepanel=='1' || activepanel=='2' || activepanel=='3' || activepanel=='4'">
                <!-- <div class="row"> 
                    <label class="btn btn-default">
                        <input type="file" (change)="selectFile($event)" multiple />
                    </label>
                    <form [formGroup]="corouselForm">
                        <div class="radio">
                            <label><input type="radio" value="1" name="courouselnumber" formControlName="courouselnumber">First Corousel</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="2" name="courouselnumber" formControlName="courouselnumber">Second Corousel</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="3" name="courouselnumber" formControlName="courouselnumber">Third Corousel</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="4" name="courouselnumber" formControlName="courouselnumber">Forth Corousel</label>
                        </div>
                    </form>
                    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload('corousel')">Upload</button>
                </div> -->
                <div class="row">    
                    <div class="col-md-3">
                        <h4>Corousel</h4>
                    </div>
                    <div class="col-md-9 file-upload">
                        <button type="button" type="button" class="btn btn-primary"  (click)="openModal()">
                                Add New Corousel
                        </button>
                    </div>     
                </div>
                <div class="row">    
                    <h5>1</h5>   
                </div>
                <div class="row">                   
                    <ng-container *ngIf="oneCorouselImages">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of oneCorouselImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('1', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL,'1',image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="oneCorouselImages.length == 0">
                        <label>No corousel present.Please upload corousel.</label>
                    </ng-container>
                </div>
                <div class="row">    
                    <h5>2</h5>   
                </div>
                <div class="row">                   
                    <ng-container *ngIf="twoCorouselImages">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of twoCorouselImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('2', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL, '2',image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="twoCorouselImages.length == 0">
                        <label>No corousel present.Please upload corousel.</label>
                    </ng-container>
                </div> 
                <div class="row">    
                    <h5>3</h5>    
                </div>
                <div class="row">                   
                    <ng-container *ngIf="threeCorouselImages">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of threeCorouselImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('3', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL,'3',image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="threeCorouselImages.length == 0">
                        <label>No corousel present.Please upload corousel.</label>
                    </ng-container>
                </div>
                <div class="row">    
                    <h5>4</h5>    
                </div>
                <div class="row">                   
                    <ng-container *ngIf="images">
                        <div class="row">
                            <div class="col-md-3 banner_image" *ngFor="let image of fourCorouselImages;">
                                <img src="{{image.imageURL}}" />
                                <input type="text" value="{{image.imageURL}}" readonly/>
                                <a href="javascript:void(0)" (click)="update('4', image.id)"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                                <a href="javascript:void(0)" (click)="delete(image.imageURL,'4',image.id)"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="fourCorouselImages.length == 0">
                        <label>No corousel present.Please upload corousel.</label>
                    </ng-container>
                </div>   
            </div>
        </div>
      </div>
  
  </div>
  <div class="modal fade" id="adminNewModal" tabindex="-1" role="dialog" aria-labelledby="adminNewModal" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="adminNewModal">Add Assets</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form id="product-form" class="clearfix" [formGroup]="adminAssetForm">
                    <div>
                        <div class="billing-details">
                            <!-- <p>Already a customer ? <a href="#">Login</a></p> -->
                            <ng-container *ngIf="activepanel=='banner'">
                                <div class="section-title">
                                    <h3 class="title">Add a Banner</h3>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="name" placeholder="Name" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label class="btn btn-default">
                                                <input type="file" (change)="selectFile($event)" />
                                            </label>
                                            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload('banner')">Upload</button>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-container *ngIf='uploadedImage'>
                                                <img src="{{uploadedImage}}" class="img_icon"/>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-lg" name="zoneID"  formControlName="zoneID">
                                        <option value="">Choose Location</option>
                                        <option value="1">Homepage</option>
                                    </select>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="activepanel=='promotion'">
                                <div class="section-title">
                                    <h3 class="title">Add a Promotion</h3>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text" name="name" placeholder="Name" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label class="btn btn-default">
                                                <input type="file" (change)="selectFile($event)" />
                                            </label>
                                            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload('promotion')">Upload</button>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-container *ngIf='uploadedImage'>
                                                <img src="{{uploadedImage}}" class="img_icon"/>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-lg" name="zoneID"  formControlName="zoneID">
                                        <option value="">Choose Location</option>
                                        <option value="1">Homepage</option>
                                    </select>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="activepanel=='1' || activepanel=='2' || activepanel=='3' || activepanel=='4'">
                                <div class="section-title">
                                    <h3 class="title">Add a Corousel</h3>
                                </div>
                                <div class="form-group">
                                    <input class="hide" type="text" name="id" placeholder="ID" formControlName="id">
                                    <input class="input" type="text" name="name" placeholder="Name" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <div class="row"> 
                                        <div class="col-md-9">
                                            <label class="btn btn-default">
                                                <input type="file" (change)="selectFile($event)" />
                                            </label>
                                            <form [formGroup]="corouselForm">
                                                <div class="radio">
                                                    <label><input type="radio" value="1" name="zoneID" formControlName="zoneID">First Corousel</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" value="2" name="zoneID" formControlName="zoneID">Second Corousel</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" value="3" name="zoneID" formControlName="zoneID">Third Corousel</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" value="4" name="zoneID" formControlName="zoneID">Forth Corousel</label>
                                                </div>
                                            </form>
                                            <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload('corousel')">Upload</button>
                                        </div>
                                        <div class="col-md-3">
                                            <ng-container *ngIf='uploadedImage'>
                                                <img src="{{uploadedImage}}" class="img_icon"/>
                                            </ng-container>
                                        </div>
                                        
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-group">
                                <textarea class="hide" type="text" name="image" formControlName="image" ></textarea>
                            </div>
                            <div class="form-group">
                                <select class="form-control form-control-lg" name="ownerId" (change) ="populateProducts()" formControlName="ownerId">
                                    <option value="">Choose Owner ID</option>
                                    <option value="{{ids}}" *ngFor="let ids of ownerIds">{{ids}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                    <select class="form-control form-control-lg" name="productsofowner" (change) ="populateProductID()" formControlName="productsofowner">
                                        <option value="">Choose Product</option>
                                        <option value="{{product.productId}}" *ngFor="let product of products">{{product.productName}}</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" name="productID" placeholder="Product ID" formControlName="productID" disabled>
                            </div>
                            <div class="form-group">
                                <input class="input" type="date" name="startdate" placeholder="Start Date" formControlName="startdate" >
                            </div>
                            <div class="form-group">
                                <input class="input" type="date" name="enddate" placeholder="End Date" formControlName="enddate" >
                            </div>
                               
                            <!-- <div class="form-group">
                                    <textarea class="myeditor">&lt;p&gt;Hello, World!&lt;/p&gt;</textarea>
                                    <input type="submit" class="wymupdate"  formControlName="html"/>
                            </div> -->
                            <div class="form-group">
                                <textarea class="input" type="text" name="htmlview" placeholder="HTML View" formControlName="html"></textarea>
                            </div>						
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="successStatus == false">
                    Could not save
                 </ng-container>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="saveasset()">Save</button>
            </div>
          </div>
        </div>
        <script src="../../assets/js/jquery.wymeditor.js"></script>
      </div>
      