<div class="row bigsalesbanner">
  <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel-body">
              <img src="../../assets/images/banner10.jpg" alt="..." class="img-responsive middle-banner">
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="panel panel-default">
          <div class="panel-body">
              <img src="../../assets/images/banner11.jpg" alt="..." class="img-responsive middle-banner">
          </div>
      </div>
  </div>
</div>
<div class="row bigsalesbanner">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../../assets/images/banner8.jpg" alt="..." class="img-responsive middle-banner">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../../assets/images/banner7.jpg" alt="..." class="img-responsive middle-banner">
            </div>
        </div>
    </div>
</div>
