<!-- Search -->
<div class="header-search">

  <form>
    <input class=" location-query input location-input pull-left" type="text" placeholder="Location" name="Location" Googleplace [(ngModel)]="address" Googleplace (setAddress)="getAddressOnChange($event,LocationCtrl)">
    <button class="location-btn">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
    </button>
    <!-- $event.target.value.length > 3 && -->
    <input class=" search-query input search-input pull-right" type="text" placeholder="Search" (input)="searchData($event)" (keydown)="searchData($event)">
    <button class="search-btn">
      <i class="fa fa-search"></i>
    </button>
    
    <div *ngIf="products">
      <ul class="product_dropdown" >
        <li *ngFor="let product of products; let k = index" >{{product.productDisplayName}}</li>

      </ul>
    </div>
  </form>
</div>
<!-- /Search -->